.sidebar {
  width: 240px;
  background-color: #cbbefc;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
  border-right: 2px solid #b09cf9;
}

.sidebar h3 {
  color: #2e2a47;
  font-weight: 700;
  font-size: 1.4rem;
}

.sidebar button,
.sidebar a {
  width: 100%;
  background: #b09cf9;
  color: #fff;
  border: none;
  text-decoration: none;
  padding: 10px 0;
  text-align: center;
  border-radius: 8px;
  transition: 0.3s;
  font-weight: 500;
}

.sidebar button:hover,
.sidebar a:hover {
  background-color: #9a86f4;
  cursor: pointer;
}

@media (max-width: 768px) {
  .sidebar {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-right: none;
    border-bottom: 2px solid #b09cf9;
  }

  .sidebar button,
  .sidebar a {
    width: auto;
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}
